node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache*
artifacts*

contracts/RealEstate.sol
contracts/Estate.sol
contracts/PollStation.sol
contracts/AuctionHouse.sol